.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.app-sidenav {
    min-width: 70%;
}

#app-map {
    height: calc(100% - 56px);
    width: 100vw;
}